<div class="container widget-view" infiniteScroll [infiniteScrollDistance]="2" 
                                                  [infiniteScrollThrottle]="50" (scrolled)="onScrollEnd()" 
                                                  [scrollWindow]="false">
  <!-- Content here -->
  <div class="row">
    <ng-container *ngFor="let number of numbers">
      <div class="col-md-3 col-sm-6 mb-4">
        <ng-container *ngIf="isInWidgetPlace(number) > -1; else elseBlock">
          <img [src]="widgets[isInWidgetPlace(number)].url" class="grid-image"/>
          <h3 class="text-center">{{widgets[isInWidgetPlace(number)].type}}</h3>
        </ng-container>

        <ng-template #elseBlock>
          <img class="grid-image blank-height" />
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>